@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.addBoard-wrapper {
  opacity: 0;
  animation: smoothAppear 1s forwards;
  animation-delay: 0.5s;
  font-family: "Noto Sans KR", sans-serif;
  .addBoard-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
  }
  .submitButton {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
    }
    .disable-button {
      font-size: 1.1rem;
      cursor: not-allowed;
    }
    .success-button {
      font-size: 1.1rem;
    }
  }
  .addBoard-body {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .content {
      background-color: white;
      height: 340px;
      width: 728px;
    }
  }
  .addBoard-title {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 360px;
    .title {
      height: 25px;
      width: 720px;
      margin-right: 58px;
    }
  }
}
