@media all and (min-width: 1024px) {
  .card-wrapper {
    width: 300px;
    height: 600px;

    &:hover {
      width: 310px;
      height: 610px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

@media all and (max-width: 1024px) {
  .card-wrapper {
    width: 270px;
    height: 540px;

    &:hover {
      width: 280px;
      height: 550px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

@media all and (max-width: 768px) {
  .card-wrapper {
    width: 240px;
    height: 480px;

    &:hover {
      width: 250px;
      height: 490px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

.card-wrapper {
  flex-shrink: 0;
  margin: 15px;
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 1s, height 1s, box-shadow 1s;
  cursor: pointer;
  .move {
    flex-grow: 1;
    word-break: break-all;
  }
  .card-body-img {
    width: 100%;
    height: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body-text {
    flex-grow: 1;
    word-break: break-all;
    overflow: auto;
    padding: 0.6rem;
    color: #858484;

    &::-webkit-scrollbar {
      display: none;
    }

    .card-body-text-title {
      font-size: 1.3rem;
      color: #444444;
      font-weight: bold;
    }
  }

  .card-footer {
    border-top: solid #cac8c8;
    display: flex;
    justify-content: right;
    color: #858484;
    .infoItem {
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-top: -15px;
      margin-bottom: -15px;
    }
    .itemImg {
      width: 27px;
      height: auto;
    }
    .itemImg2 {
      width: 16px;
      height: auto;
      margin: 5px;
    }
    .views {
      margin-left: 5px;
      margin-right: 5px;
    }
    .infoItem-username {
      display: flex;
      align-items: center;
      margin-top: -15px;
      margin-bottom: -15px;
      margin-right: 130px;
      .card-username {
        margin-left: 5px;
      }
    }
  }
}

.card-header {
  display: flex;
  justify-content: right;

  margin-right: 20px;
  color: #858484;
  .infoItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
